<h1><%= I18n.t(:sitemap, scope: :spree) %></h1>
<%= link_to Spree::Store.default.name, @public_url %><br />

<% if @pages.any? %>
  <ul>
  <% @pages.each do |page| %>
    <li><%= link_to page.title, @public_url + page.slug %></li>
  <% end %>
  </ul>
<% end %>

<% if @taxonomies.any? %>
  <% @taxonomies.each do |taxonomy| %>
    <% taxons = Spree::Taxon.where(taxonomy_id: taxonomy.id) %>

    <h3><%= taxonomy.name %></h3>

    <ul>
      <% taxons.each do |taxon| %>
        <% unless taxon.name == taxonomy.name %>
          <li>
            <%= link_to taxon.name, @public_url + taxon.permalink %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @products.any? %>
  <h3>Products</h3>

  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, @public_url + 'products/' + product.slug %>
      </li>
    <% end %>
  </ul>
<% end %>
